{% set slider = __SELF__.slider %}


<!-- Slider main container -->
<div class="swiper-container {{ __SELF__.id }}" >
    <!-- Additional required wrapper -->

    {% if slider.images %}
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for image in slider.images %}
                <div class="swiper-slide">
                    <img
                        data-src="{{ image.filename }}"
                        src="{{ image.path }}"
                        alt="{{ image.description }}"
                        style="max-width: 100%" />
                </div>
            {% endfor %}
        </div>

        {% if slider_preset.pagination %}
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        {% endif %}

        {% if slider_preset.navigation %}
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        {% endif %}

        {% if slider_preset.scrollbar %}
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        {% endif %}

    {% endif %}
</div>

{% put styles %}
    <style>
        {{ slider_preset.css|raw}}
    </style>
{% endput %}

{% put scripts %}
    <script>
        var swiper = new Swiper('.{{ __SELF__.id }}', {
            {{ slider_preset.js|raw }}
        });
    </script >
{% endput %}