{% set slider = __SELF__.slider %}

<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->

    {% if slider.images %}
        <div class="swiper-wrapper">
            <!-- Slides -->
            {% for image in slider.images %}
                <div class="swiper-slide">
                    <img
                        data-src="{{ image.filename }}"
                        src="{{ image.path }}"
                        alt="{{ image.description }}"
                        style="max-width: 100%" />
                </div>
            {% endfor %}
        </div>

        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    
        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    
        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>

    {% endif %}
</div>

{%put styles %}
<style>
    .swiper-container {
        width: 100%;
        height: 300px;
        margin-bottom: 50px;
    }
</style>
{% endput %}

{% put scripts %}
    <script type="text/javascript">
        var mySwiper = new Swiper ('.swiper-container', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,
                
            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },
                
            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
                
            // And if we need scrollbar
            scrollbar: {
                el: '.swiper-scrollbar',
            },
        })
    </script>
{% endput %}